* {
    box-sizing: border-box;
}
body{
    margin: 0 ;
}
header {
    background-color: #F7F7F7;
    padding-bottom: 100px;
}

p{color: rgba(73, 73, 73, 1);}

nav,
.banner {
    max-width: 1440px;
    width: 90%;
    margin: 0 auto;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 40px;
}

button {
    background-color: #ABEF5F;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    border: none;
    border-radius: 30px;
    font-weight: 800;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}