@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


* {
    box-sizing: border-box;
    font-family: inter;
}

body {
    margin: 0;
}

header {
    background-color: #f8f4f4;
    padding-bottom: 100px;
}

.thought-works,
.articels-section {
    background-color: #ecebeb;
}

p {
    color: rgba(73, 73, 73, 1);
}

.menu {
    display: none;
}

nav,
.banner,
.thoughtfull,
.progress,
.work-process,
.articel-card {
    max-width: 1440px;
    width: 90%;
    margin: 0 auto;
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-right-button {
    display: flex;
    align-items: center;
    gap: 20px;
}

nav ul,
footer ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    /* width: 100%; */
    justify-content: space-between;
    gap: 40px;
}

button {
    background-color: #ABEF5F;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    border: none;
    border-radius: 30px;
    font-weight: 800;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.heading {
    font-size: 40px;
    font-weight: 900;
}


.thoughtfull {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 80px; gap: 60px;
}


.banner-image {
    display: flex;
    justify-content: center;
}


.banner-text {
    text-align: center;
}

.banner-text h1 {
    font-size: 70px;
    width: 80%;
    margin: 0 auto;
}

.banner-text p {
    width: 50%;
    margin: 0 auto;
    padding: 20px 0;
}

.progress {
    background-color: white;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;
    text-align: center;
    margin-top: 80px;
    padding-top: 30px;
    padding-bottom: 15px;
    border-radius: 15px;
}

.work-process {
    padding: 80px 0;
}

.work-text {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 30px;
}

.work-card {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.articel-text {
    width: 40%;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 30px;
}

.articel-card {
    display: flex;
    gap: 30px;
}

.card {
    background-color: white;
    padding: 15px;
    border-radius: 15px;
}

.card img {
    width: 100%;
}

.discuss {
    max-width: 1440px;
    width: 90%;
    margin: 0 auto;
}

.input-container {
    display: flex;
    gap: 30px;
}


input,
textarea {
    width: 100%;
    margin: 15px 0;
    padding: 18px;
    border-radius: 28px;
    background-color: white;
    border: none;
}


.discuss-text {
    width: 40%;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 20px;
}

.discuss-section {
    background-image: url('./images/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding: 100px 0;
}



footer {
    background-color: #1C1C1C;
    color: white;
    padding: 60px 0;
}







/* TABLET RESPONSIVE */

@media (max-width:770px) {
    nav ul {
        display: none;
    }

    .menu {
        display: block;
    }

    /* nav,
    .banner,
    .thoughtfull {
        width: 90%;
    } */

    .banner-text h1 {
        font-size: 40px;
    }

    .banner-text p {
        width: 100%;
        padding: 20px 0;
    }

    .thoughtfull {
        flex-direction: column;
        gap: 50px;
        text-align: center;
    }

    .rectangle2 {
        width: 100%;
    }

    .thoughtfull-text {
        display: flex;
        gap: 20px;
        align-items: center;
        text-align: left;
    }

    .progress {
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
    }

    .work-text {
        width: 100%;
    }

    .work-card {
        flex-wrap: wrap;
    }

    .work-card div {
        flex: 45%;
    }

    .articel-text {
        width: 90%;
    }

    .articel-card {
        flex-direction: column;
    }

    .card {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 20px;
        padding: 0px 20px;
    }

    .card-img{
        height: 160px;
    }

    .card img{
        height: 100%;
    }

    .discuss-text {
        width: 90%;
    }

}







/* MOBILE RESPONSIVE */

@media (max-width:430px) {

    /* nav,
    .banner,
    .thoughtfull {
        width: 90%;
    } */

    /* header {
        max-width: 100%;
        width: 100%;
    } */


    .heading {
        font-size: 30px;
    }

    nav ul,
    .nav-right-button {
        display: none;
    }

    .menu {
        display: block;
    }

    .banner-image img {
        width: 90%
    }

    .banner-text h1 {
        width: 100%;
    }

    .banner-text p {
        width: 100%;
        padding: 20px 0;
    }

    .thoughtfull-text {
        display: flex;
        flex-direction: column;
    }

    .rectangle2 {
        height: 80%;
    }

    .progress {
        grid-template-columns: repeat(1, 1fr);
        gap: 40px;
    }

    .work-text {
        width: 100%;
    }

    .work-card div {
        flex: 100%;
    }

    .card {
        display: flex;
        flex-direction: column;
    }

    .input-container {
        flex-direction: column;
        margin: 30px 0;
    }


    footer ul {
        flex-direction: column;
    }

    footer p {
        width: 90%;
    }

    footer button {
        width: 70%;
        display: flex;
        justify-content: space-between;
    }
}